/* Profile */
.container
{
    margin-top: 55px;
    display: flex;
    background-color: #F0F0F0;
    height: 250px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 30px 30px;
}

.container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/* Profile Picture */
.rounded-circle
{
    display: flex;
    width: 300px;
    clip-path: circle();
    margin-left: -15%;
}

#student-name
{
    display: flex;
    padding-left: 700px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #6D6D6D;
}

.student-details
{
    display: flex;
    flex-direction: column;
}

#student-details
{
    width: 50%;
    display: flex;
    font-size: 1rem;
    color: #6D6D6D;
    text-align: right;
    float: right;
}


/* User Details */
.user-container
{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.user-container > *:nth-child(1)
{
    flex: 1 1 40%;
    border: #d9d9d9 solid 1px;
    min-width: 50ch;
    color: #6D6D6D;
}

.user-container > *:nth-child(2)
{
    flex: 1 1 0%;
}

.user-container > *:nth-child(3)
{
    flex: 1 1 20%;
    border: #d9d9d9 solid 1px;
    color: #6D6D6D;
    min-width: 50ch;
}

/* Table formatting */
.tbl-user-details
{
    width: 100%;
    border-collapse: collapse;
}

.tbl-user-details th
{
    background-color: #d9d9d9;
    text-align: left;
    padding-left: 25px;
}

.tbl-user-details tr:nth-child(even) td
{
    padding-left: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.tbl-user-details tr:nth-child(odd) td
{
    padding-left: 25px;
}

#last-row
{
    padding-bottom: 20px;
}

.tbl-login-activity
{
    width: 100%;
    border-collapse: collapse;
}

.tbl-login-activity th
{
    background-color: #d9d9d9;
    text-align: left;
    padding-left: 25px;
}

.tbl-login-activity tr:nth-child(even) td
{
    padding-left: 25px;
    padding-top: 20px;
}

.tbl-login-activity tr:nth-child(odd) td
{
    padding-left: 25px;
}

/* Edit Details Button */
.btn-edit
{
    color: #000000;
    border: none;
    align-items: center;
    background: #d9d9d9;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 56px;
    padding-left: 24px;
    font-weight: bold;
    padding-right: 24px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


/* Changes Done Profile */
.container
{
    margin-top: 55px;
    display: flex;
    background-color: #F0F0F0;
    height: 250px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    border-radius: 0px 0px 30px 30px;
}

.container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/* Profile Picture */
.rounded-circle
{
    display: flex;
    width: 300px;
    clip-path: circle();
    margin-left: -15%;
}

#student-name
{
    display: flex;
    padding-left: 700px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #6D6D6D;
}

.student-details
{
    display: flex;
    flex-direction: column;
}

#student-details
{
    width: 50%;
    display: flex;
    font-size: 1rem;
    color: #6D6D6D;
    text-align: right;
    float: right;
}


/* User Details */
.user-container
{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.user-container > *:nth-child(1)
{
    flex: 1 1 40%;
    border: #d9d9d9 solid 1px;
    min-width: 50ch;
    color: #6D6D6D;
}

.user-container > *:nth-child(2)
{
    flex: 1 1 0%;
}

.user-container > *:nth-child(3)
{
    flex: 1 1 20%;
    border: #d9d9d9 solid 1px;
    color: #6D6D6D;
    min-width: 50ch;
}

/* Table formatting */
.tbl-user-details
{
    width: 100%;
    border-collapse: collapse;
}

.tbl-user-details th
{
    background-color: #d9d9d9;
    text-align: left;
    padding-left: 25px;
}

.tbl-user-details tr:nth-child(even) td
{
    padding-left: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.tbl-user-details tr:nth-child(odd) td
{
    padding-left: 25px;
}

#last-row
{
    padding-bottom: 20px;
}

.tbl-login-activity
{
    width: 100%;
    border-collapse: collapse;
}

.tbl-login-activity th
{
    background-color: #d9d9d9;
    text-align: left;
    padding-left: 25px;
}

.tbl-login-activity tr:nth-child(even) td
{
    padding-left: 25px;
    padding-top: 20px;
}

.tbl-login-activity tr:nth-child(odd) td
{
    padding-left: 25px;
}

/* Edit Details Button */
.btn-edit
{
    color: #000000;
    border: none;
    align-items: center;
    background: #d9d9d9;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 56px;
    padding-left: 24px;
    font-weight: bold;
    padding-right: 24px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

/* Darken Area */
.draken-area
{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.15;
    z-index: 1;
}

/* OTP */
.otp-box
{
    display: flex;
    flex-direction: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    height: 300px;
    width: 500px;
    position: absolute;
    z-index: 2;
    
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Edit Profile */
.container {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container > .box {
    flex: auto;
    background: #fff;
    padding: 20px;
    margin-top: 64px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > .box > .edit-profile
{
    flex: auto;
    background: #D9D9D9;
}

.container > .edit-profile-box
{
    flex: auto;
    background: #df5252;
    width: 25px;
    height: 75px;
}

/* Edit Form */

.edit-profile-form
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.edit-profile-form > .firstName
{
    flex: 1 1 40%;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 50px;
}

/* Student view of questions */
/*Course Details*/
.course-details-box
{
    height: 150px;
    background-color: #5319a6;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
}

.course-details-box p
{
    text-align: center;
    color:white;
}

#title
{
    font-weight: bold;
    padding-top: 100px;
}

#content
{
    margin-left: 100px;
    margin-right:100px;
    font-size: small;
}

/*Sub topic*/
.subtopic-title
{
    text-align: center;
    color: #636363;
}

/*Add Questions*/
.question-number
{
    color: white;
    padding: 20px;
    margin-top: 8px;
    margin-left: 100px;
    background-color: #5319a6;
    position:absolute;
}

::placeholder
{
    color: #000000;
}

/* Buttons */
.buttons
{
    display: flex;
    width: 75%;   
    flex-direction: space-between;
    margin-left: 100px;
    margin-right: auto;
}

#back
{
    background-color: #979797;
    color: white;
}

#back:hover
{
    font-size: 16px;
}

.buttons > input
{
    flex: 1 1 100%;
}

.btn-question
{
    background-color: #5319a6;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px;
    margin-left: 200px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
}

.buttons > input:hover
{
    background-color: #0BA7FF;
}

/* Question and answers */
.container
{
    display: flex;
    flex-direction: column;
}

.container > .question
{
    flex: 1 1 100%;
}

.container > .question > textarea
{
    width: 75%;
    height: 100px;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    resize: none;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor:pointer;
    outline: none;
}

.container > .option
{
    flex: 1 1 100%;   
}

.container > .option > textarea
{
    width: 75%;
    height: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    background-color: #D9D9D9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    resize: none;
    margin-left: 200px;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
}

.option > textarea:focus
{
    background-color: green;
    outline: none;
}

.container > .option > textarea:hover
{
    background-color: #B3B3B3;
}

/* Quiz review */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #FFFFFF;
}

/*Course Details*/
.course-details-box
{
    height: 150px;
    background-color: #5319a6;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
}

.course-details-box p
{
    text-align: center;
    color:white;
}

#title
{
    font-weight: bold;
    padding-top: 100px;
}

#content
{
    margin-left: 100px;
    margin-right:100px;
    font-size: small;
}

/*Sub topic*/
.subtopic-title
{
    text-align: center;
    color: #636363;
}

/* Quiz review */
.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container > div
{
    margin-left: auto;
    margin-right: auto;
}

.container > .encouragement-msg
{
    text-align: center;
    font-size: large;
    color: #7735D5;
}

.encouragement-msg #marks
{
    color: #E9A04A;
}

.encouragement-msg2 p
{
    color: #7735D5;
    font-size: large;
}


/* Questions and Answers */
.question-number
{
    color: white;
    padding: 20px;
    margin-top: 8px;
    margin-left: 100px;
    background-color: #5319a6;
    position:absolute;
}

::placeholder
{
    color: #000000;
}

.container-question
{
    display: flex;
    flex-direction: column;
}

.container-question > .question
{
    flex: 1 1 100%;
}

.container-question > .question > textarea
{
    width: 75%;
    height: 100px;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    resize: none;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor:pointer;
    outline: none;
}

.container-question > .option
{
    flex: 1 1 100%;   
}

.container-question > .option > textarea
{
    width: 75%;
    height: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    background-color: #D9D9D9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    resize: none;
    margin-left: 200px;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
}

.container-question > .option > #answer
{
    background-color:#81E979;
}

.container-question > .option > #stu-answer
{
    background-color:#FF3F3F;
}

/* Seperator */
.separator
{
    border: 1px solid #D9D9D9;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

/* Buttons */
.finish-review
{
    display: flex;
}

.btn
{
    flex-direction: column;
    background-color: #5319a6;
    border: none;
    color: white;
    padding: 10px 50px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
}

.buttons > input:hover
{
    background-color: #0BA7FF;
}

/* Next ACtion buttons */
.next-action
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.next-action > #disable
{
    background-color: #979797;
    border: none;
    color: white;
    padding: 10px 50px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
}
