body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #FFFFFF;
}

/*Sub topic*/
.subtopic-title
{
    text-align: center;
    color: #636363;
}

/*Course Details*/
.course-details-box
{
    height: 150px;
    background-color: #5319a6;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
}

.course-details-box p
{
    text-align: center;
    color:white;
}

#title
{
    font-weight: bold;
    padding-top: 100px;
}

/*Table*/
.addedQuestions
{
    font-family: 'Poppins', sans-serif;
    border-collapse: separate;
    width: 90%;
}

table
{
    border-radius: 10%;
}

.addedQuestions td, .addedQuestions th
{
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 12px;
}
  
.addedQuestions th
{
    background-color: #5319a6;
    color: white;
}

td:nth-child(1)
{
    width: 10px;
}
td:nth-child(2)
{
    width: 300px;
}
td:nth-child(3)
{
    width: 300px;
}

td:nth-child(4)
{
    width: 300px;
}

td:nth-child(5)
{
    width: 300px;
}

td:nth-child(6)
{
    width: 300px;
}

td:nth-child(7) {
    width: 300px;
}
td:nth-child(8)
{
    width: 10px;
}
  
td:nth-child(9)
{
    width: 10px;
}

#edit-icon
{
    color:#5319a6;
    margin-left: 8px;
    cursor: pointer;
}

#edit-icon:hover
{
    color:#7e58bc;
}

/* Row and hover */
tr:nth-child(even)
{
    background-color:#D9D9D9 ;
}

tr:nth-child(odd)
{
    background-color:#FFFFFF ;
}

.addedQuestions tr:nth-child(even):hover
{
    transition: all 0.5s ease;
    font-size: 16px;
    background: #FFFFFF;
}

.addedQuestions tr:nth-child(odd):hover
{
    transition: all 0.5s ease;
    font-size: 16px;
    background: #D9D9D9;
}

/* Toggle Button */
/* .switch
{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input
{ 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    -webkit-transition: .3s;
    transition: .3s;
}
  
.slider:before 
{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    right: 25px;
    background-color: #FFFFFF;
    -webkit-transition: .3s;
    transition: .3s;
}
  
input:checked + .slider
{
    background-color: #5319a6;
}
  
input:focus + .slider
{
    box-shadow: 0 0 1px #5319a6;
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round 
{
    border-radius: 30px;
}
  
.slider.round:before 
{
    border-radius: 50%;
} */

/* Footer */
.footer
{
    margin-top: 20%;
}
  
