@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgbox{
    position: relative;
    width: 50%;
    height: 100%;

}

section .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentbox .formbox{
    width: 50%;
}

section .contentbox .formbox h2{
    color: #696969;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-align: center;
}

section .contentbox .formbox .inputbox{
    margin-bottom: 5px;
}

section .contentbox .formbox .inputbox input{
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    outline: none;
    font-weight: 400;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent; 
}

section .contentbox .formbox .inputbox input[type="submit"]{
    background: #db32ba  ;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;

}

section .contentbox .formbox .inputbox input[type="submit"]:hover{
    background:   #d74bcc ;
}

section .contentbox .formbox .remember{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;   
}

section .contentbox .formbox .inputbox p{
    color: #607d8b;
}

section .contentbox .formbox .inputbox p a{
    color: #d74bcc ;
}
section .contentbox .formbox .inputbox p a:hover{
    color:  #cc0ddc  ;
}