/*-----------------fonts--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

/*----------------global.css---------------*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.body-2
{
    background-color: #D9D9D9;
}
.navbar{
    height: 60px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background: linear-gradient(45deg,#7e58bc 5%, #5319a6);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
}

/* Nav bar hover */
.nav-links p:hover
{
    color: #5319a6;
    background: #ffffff;
    border-radius: 10px;
    /* padding: 5px 10px;
    margin-top: -10px;
    margin-left: -20px; */
}

.nav-left{
    display: inline-block;
    margin-left: 1.5rem;
}

.navbar-logo{
    width: 50%;
}

.nav-right{
    float: right;
}

.nav-links{
    display: inline-block;
}

.nav-links p{
    padding: 5px 10px;
    margin-right: 2rem;
    cursor: pointer;
}

.nav-user-tray{
    display: inline-block;
    margin: 0 1rem 0 1rem;
}

.nav-user-tray p{
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.nav-right p{
    display: inline-block;
}

@keyframes fadeIn{
    to{
      opacity: 1;
    } 
  }

  .footer-container{
    background: linear-gradient(90deg,#5319a6 20%, #864fb9);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
}

.left{
    display: inline-block;
    color: white;
    padding-left: 10px;
    font-weight: 700;
}

.right{
    float: right;
    font-size: 25px;
}

.right i{
    padding-right: 10px;
}


.fa-youtube{
    color: #f20000;
}

.fa-linkedin{
    color: #1c6db5;
}

.fa-square-twitter{
    color: #00a6de;
}

.fa-square-instagram{
    color: pink;
}

.fa-facebook{
    color: #334c8c;
}

.social{
    width: 90%;
    margin: auto;
    border-bottom: 2px solid white;
    padding-top: 4%;
    vertical-align: text-bottom;
  
}

.privacy{
    width: 90%;
    margin: auto;
    color: white;
    font-weight: 500;
    font-size: 13px;
    padding: 20px 0 5px 0;
}

.privacy-left{
    display: inline-block;
}

.privacy-left p{
    display: inline-block;
    padding-right: 15px;
}

.privacy-right{
    float: right;
}


/* Under Construction */
.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container > div
{
    margin-left: auto;
    margin-right: auto;
}

.container > .encouragement-msg
{
    margin-top: 10%;
    text-align: center;
    font-size: larger;
    color: #7735D5;
}

.encouragement-msg2 p
{
    color: #E9A04A;
    font-size: larger;
    font-weight: bolder;
}

/* Logout button styling */
.hidden{
    border-radius: 25px;
    position: absolute;
    margin-top: 15px;
    background: #b8b8b8;
    text-align: center;
    box-shadow: 3px 5px 10px #848484;
    right: 35px;
    height: 235px;
    display: none;
}

.hidden p{
    display: block;
}

.fa-xmark{
    float: right;
    margin-left: 130px;
    font-size: 25px;
    margin-bottom: 15px;
}

.fa-xmark:hover{
    color: #5C26A9;
}

.user2{
    color: rgb(54, 54, 54);
    font-size: 100px;
    margin-bottom: 15px;
}

.hidden a{
    font-family: 'Poppins', sans-serif;
    background-color: #5C26A9;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px #848484;
}