/* Profile */
.container-profile
{
    margin-top: 55px;
    display: flex;
    background-color: #F0F0F0;
    height: 250px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 30px 30px;
}

.container-profile > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/* Profile Picture */
.rounded-circle
{
    display: flex;
    width: 300px;
    clip-path: circle();
    margin-left: -15%;
}

#student-name
{
    display: flex;
    padding-left: 700px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #6D6D6D;
}

/* User Details */
.user-container
{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.user-container > *:nth-child(1)
{
    flex: 1 1 40%;
    border: #d9d9d9 solid 1px;
    min-width: 50ch;
    color: #6D6D6D;
}

.user-container > *:nth-child(2)
{
    flex: 1 1 0%;
}

.user-container > *:nth-child(3)
{
    flex: 1 1 20%;
    border: #d9d9d9 solid 1px;
    color: #6D6D6D;
    min-width: 50ch;
}

/* Table formatting */
.tbl-user-details
{
    width: 100%;
    border-collapse: collapse;
}

.tbl-user-details th
{
    background-color: #d9d9d9;
    text-align: left;
    padding-left: 25px;
}

.tbl-user-details tr:nth-child(even) td
{
    padding-left: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.tbl-user-details tr:nth-child(odd) td
{
    padding-left: 25px;
}

#last-row
{
    padding-bottom: 20px;
}

.tbl-login-activity
{
    width: 100%;
    border-collapse: collapse;
}

.tbl-login-activity th
{
    background-color: #d9d9d9;
    text-align: left;
    padding-left: 25px;
}

.tbl-login-activity tr:nth-child(even) td
{
    padding-left: 25px;
    padding-top: 20px;
}

.tbl-login-activity tr:nth-child(odd) td
{
    padding-left: 25px;
}

/* Edit Details Button */
.btn-edit
{
    color: #000000;
    border: none;
    align-items: center;
    background: #d9d9d9;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 56px;
    padding-left: 24px;
    font-weight: bold;
    padding-right: 24px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


/* Changes Done Profile */
 .container-editprofile
{
    margin-top: 55px;
    display: flex;
    background-color: #FFFFFF;
    height: 1000px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 5px 10px #848484;
}

.edit-profile-form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 200px;
    margin-right: auto;
}

#disabled-txt-field
{
    background-color:#D9D9D9;
}

.label-field
{
    display: flex;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 8px;
    color: #6D6D6D;
}
.change-password
{
    margin-top: 30px;
}

.label2-field
{
    display: flex;
    margin-left: 230px;
    margin-right: 200px;
    margin-top: 20px;
    color: #6D6D6D;
}

.input-field
{
    width: 400px;
    height: 25px;
    border: 1px solid #D9D9D9;
    margin-top: -50px;
    border-radius: 2px;
    margin-top: 10px;
}

.heading
{
    display: flex;
    background-color: #D9D9D9;
    flex-direction: row;
    height: 50px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.heading-p
{
    display: flex;
    padding-left: 70px;
    padding-top: -2px;
    font-weight: bold;
    font-size: 1rem;
    color: #6D6D6D;
}

/* Profile Picture */
.rounded-circle
{
    display: flex;
    width: 300px;
    clip-path: circle();
    margin-left: -15%;
}

#student-name
{
    display: flex;
    padding-left: 700px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #6D6D6D;
}

.student-details
{
    display: flex;
    flex-direction: column;
}

#student-details
{
    width: 50%;
    display: flex;
    font-size: 1rem;
    color: #6D6D6D;
    text-align: right;
    float: right;
}

/* Text formatting */
.input-field
{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #6D6D6D;
}

/* icon search formatting */
#icon-search
{
    position: absolute;
    margin-left: 10px;
    margin-top: -5px;
    cursor : pointer;
}

.btn-questions
{
    padding : 10px 45px;
    font-family: 'Poppins', sans-serif;
    border :none;
    color: #FFFFFF;
    background-color: #636363;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.add-questions
{
    margin-left: 35%;
}