/* Profile */
.container-profile {
    margin-top: 55px;
    display: flex;
    background-color: #5319a6;
    height: 215px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 30px 30px;
}

.container-profile > div {
    padding: 20px;
    font-size: 30px;
}

/* Profile Picture */

.profilepicture{
    height: 127px;
    width: 132px;
    margin: 20px;
    border-radius: 113px;
}

.profilepicture img{
    width: 100%;
    height: 100%;
    border-radius: 113px;
    object-fit: cover; 
}


#student-name
{
    display: flex;
    align-items: center;
    padding-left: 702px;
    padding-top: 34px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #f39c12;
}

/* User Details */
.user-container
{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.user-details {
    width: 506px;
    padding: 10px;
    border: 1px solid #D9D9D9;
}

.user-details-row1{
    background-color: #d9d9d9;
    padding: 5px;
}

.user-details-row2{
    padding: 5px;
    margin-bottom: 20px;
    color: #5C26A9;
}

/* Edit Details Button */
.btn-edit
{
    color: #000000;
    border: none;
    align-items: center;
    background: #d9d9d9;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 56px;
    padding-left: 24px;
    font-weight: bold;
    padding-right: 24px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 125px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


/* Changes Done Profile */
 .container-editprofile
{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 100%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 5px 10px #848484;
    padding-bottom: 100px;
}

.edit-profile-form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 200px;
    margin-right: auto;
}

#disabled-txt-field
{
    background-color:#D9D9D9;
}

.label-field
{
    display: flex;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #6D6D6D;
}
.btn-container button {
    padding: 14px;
    margin-top: 20px;
    width: 158px;
    border-style: none;
    color: white;
    background-color: #F99417;
    border-radius: 5px;
    cursor: pointer;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin-left: 386px;
}

.fa-search{
    color: #636363;
    margin-left: 10px;
    cursor: pointer;
}

.label-field-num{
    display: flex;
    margin-left: 35px;
    margin-right: 200px;
    margin-top: 8px;
    color: #6D6D6D;
}

.name-container{
    display: flex;
    align-items: center;
}

.change-password
{
    margin-top: 30px;
}

.name-container{
    display: flex;
}

.label2-field
{
    display: flex;
    margin-left: 230px;
    margin-right: 200px;
    margin-top: 20px;
    color: #6D6D6D;
}

.input-field
{
    width: 400px;
    height: 25px;
    border: 1px solid #D9D9D9;
    margin-top: -50px;
    border-radius: 2px;
}



.heading
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.heading-p
{
    display: flex;
    padding-left: 70px;
    padding-top: -2px;
    background-color: #D9D9D9;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: #6D6D6D;
    margin-bottom: 15px;
    margin-top: 60px;
}

.label-field-pass{
    margin-top: 10px;
    color: #6D6D6D;
}
  
  .edit-image-btn {
    margin-bottom: 10px;
    position: absolute;
    width: 350px;
    cursor: pointer;
    margin-left: 190px;
  }
.password-left{
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 136px;
    align-items: end;
    justify-content: space-evenly;

}

.password-right{
    display: flex;
    flex-direction: column;
    height: 136px;
    margin-left: 186px;
    /* background-color: aquamarine; */
    justify-content: space-evenly;
}
.change-image{
    margin-left: 205px;
    width: 150px;

    border:2px solid #D9D9D9;

}

.edit-image{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Profile Picture */

.student-details
{
    display: flex;
    flex-direction: column;
}

#student-details
{
    width: 50%;
    display: flex;
    font-size: 1rem;
    color: #6D6D6D;
    text-align: right;
    float: right;
}

/* Text formatting */
.input-field
{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #6D6D6D;
}

/* icon search formatting */
#icon-search
{
    position: absolute;
    margin-left: 10px;
    margin-top: -5px;
    cursor : pointer;
}

.btn-questions
{
    padding : 10px 45px;
    font-family: 'Poppins', sans-serif;
    border :none;
    color: #FFFFFF;
    background-color: #636363;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.add-questions
{
    margin-left: 35%;
}


/* -------------------course-rating-css------------------ */
.rating_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating_prompt{
    padding : 2px 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 10px;
}

.rating_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .rt-popup{
    background-color: #FFFFFF;
    padding : 10px;
    width: 300px;
    border-radius: 5px;
  }


  .close-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }

  .fa-times-circle{
    font-size: large;
    color: #636363;
    border: none;
  }

  .fa-times-circle:hover{
    color:#5C26A9;
  }

  .rt-popup-messge{
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .rt-popup-head{
    display: flex;
    margin-top: 10px;
    background-color: #cacaca6b;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
  }

  .rt-popup-stars{
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .rt-popup-btn{
    display: flex;
    justify-content: center;
  }

  .rt-submit-btn{
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #5C26A9;
    border: none;
    cursor: pointer;
  }

  .rt-popup-correct{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: rgb(43, 153, 43);
    margin-top: 30px;
    margin-bottom: 20px;
  }
/* Quiz information popup */
.attemptBtn,.info-box
{
    margin-top: -1rem;
    margin-left: 41rem;
    margin-bottom: 2rem;
}

.purhasedBody{
    overflow-x: hidden;
}

.info-box
{
    position: fixed;
    top: 30%;
    width: 50%;
    margin: auto;
    z-index: 10;
    background-color: #c8c8c8;
    margin-left: 400px;
}

.info-box .info-title
{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-box .info
{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-left: 130px;
}

.info-box .buttons
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info-box .buttons .btn-questions
{
    padding : 10px 45px;
    font-family: 'Poppins', sans-serif;
    border :none;
    color: #FFFFFF;
    background-color: #636363;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 25px;
}

.btn-questions:hover
{
    background-color: #848484;
}

/* ----------------------- Student posted reviw starts here ---------------------------- */

.content-container{
    z-index: 0;
    background: white;
    width: 90%;
    height: 100%;
    margin-top: 90px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 5rem;
    padding-top: 20px;
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
}


.rt-body{
    background-color: #d9d9d9;
}

.posted-rt-header{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.rt-header-title{
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}

.rt-header-name{
    height: 50px;
    width: 100%;
    background-color: #D9D9D9;
}


.rating-course-name{
    margin-left: 10px;
}

.course-rating-avg ,.stars{
    color: #F39C12;
}

.course-rating-all{
    color: #6D6D6D;
}

.course-rating-con2{
    margin: 14px 20px 20px 20px;
}

.course-rating-con1{
margin-right: 100px;
}

.rt-course-rating{
    display: flex;
    width: 100%;
    justify-content: center;

}

.rating-pbar {
    margin-top: 6px;
}

.course-rating-pbar{
    display: flex;
    height: 12px;
    width: 250px;
    margin-top: 15px;
    margin-right: 5px;
    background-color:#D9D9D9;
    border-radius: 2px;

}

.pbar-star{
    margin-bottom: 7px;
}

.pbar-fil{
    height: 100%;
    background-color: #F39C12;;
    border-radius: 2px;
}

.merge-ray{
    display: flex;
}

.rating-pbar-star{
    margin-right: 70px;
}


.fa-star-pbar{
    color: #F39C12;
    margin-left: 5px;
}

.rating-pbar-count{
    margin-top: 10px;
}

.pbar-fil-count{
    margin-top: 7px;
}

.rating-msg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}

.fa-user-circle{
    font-size: xx-large;
    color: #5C26A9;
}
.rating-msg-container{
    margin-left: 30px;
    width: 700px;
    border: 1px #D9D9D9 solid;
}
.rating-msg-head{
    background-color: #D9D9D9;
    height: 20px;
    padding: 10px;  
}

.rating-msg-body{
    padding: 20px;
    height: 60px;
}

.rating-msg-footer{
    background-color: #f0f0f0a1;
    display: flex;
    justify-content: flex-end;
    padding: 2px 14px 2px 2px;
    font-size: 13px;
}

