/* Signup and login */
.background
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgb(18, 146, 142),rgb(65, 67, 219));
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0%;
}

.form-box
{
    width: 850px;
    height: 600px;
    background: rgb(255, 255, 255);
    position: relative;
    margin: 70px auto;
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.form-img
{
    width: 425px;
    height: 600px;
    float: left;
    background-image: url(../images/bg.jpg);
    position: relative;
    border-radius: 25px 0px 0px 25px;
}

h2{
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.input-text
{
    width: 50%;
    text-align: left;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1;
    padding-top: 20px;
    padding-bottom: 5px;
    outline: none;
    margin-left: 75px;
}

.submit-btn
{
    padding: 10px 50px;
    margin-top: 30px;
    margin-left: 75px;
    background-image: linear-gradient(to right,rgb(18, 146, 142),rgb(65, 67, 219));
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    color: white;
}

.submit-btn:hover
{
    font-size: 16px;
    background-image: linear-gradient(to right,rgb(65, 67, 219),rgb(18, 146, 142));   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

/*Sign up*/

.signup
{
    margin-top: 10px;
    margin-left: 75px;
    color: rgb(76, 74, 74);
}

.signup a
{
    color: rgb(18, 146, 142);
}

.signup-form-details
{
    display: flex;
    margin-left: 100px;
    margin-right: auto;
}

.signup-form-details > .input-text
{
    flex: auto;
    flex-direction: row;
    margin-left: 100px;
}

.login
{
    margin-top: 10px;
    margin-left: 500px;
    color: rgb(76, 74, 74);
}

/* Error */
.error
{
    color: red;
    font-size: 12px;
    margin-left: 10px;
}

/* Login */

.login-form
{
    display: flex;
}

.login-form > div
{
    flex: auto;
    flex-direction: row;
    margin-left: 50px;
}

.input-login-text
{
    width: 50%;
    text-align: left;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1;
    padding-top: 20px;
    padding-bottom: 5px;
    outline: none;
    margin-left: 75px;
}

.login-form > .signup-login
{
    margin-top: 200px;
    margin-left: -80%;
    color: rgb(76, 74, 74);
}

.login-form > .signup-login a
{
    color: rgb(18, 146, 142);
}

/* End of logi and signup styling */

body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #FFFFFF;
}

/*Sub topic*/
.subtopic-title
{
    text-align: center;
    color: #636363;
}

/*Course Details*/
.course-details-box
{
    height: 150px;
    background-color: #5319a6;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
}

.course-details-box p
{
    text-align: center;
    color:white;
}

#title
{
    font-weight: bold;
    padding-top: 100px;
}

/*Table*/
.addedQuestions
{
    font-family: 'Poppins', sans-serif;
    border-collapse: separate;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 8px 0px rgba(90, 90, 90, 0.2);
}

table
{
    border-radius:  10px;
}

.addedQuestions>td, .addedQuestions th
{
    border: 1px solid #8a8989;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #5c26a9;
    color: white;
    font-weight: 450;
    font-size: 13px;
}

td
{
    padding: 1rem;
    font-size: 0.85rem;
}
  
.addedQuestions>th
{
    background-color: #5319a6;
    color: white;
}

td:nth-child(2)
{
    width: 500px;
}

td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7)
{
    width: 300px;
}

td:nth-child(8) , td:nth-child(9),td:nth-child(1)
{
    width: 10px;
}

#edit-icon
{
    color:#5319a6;
    margin: 10px;
    cursor: pointer;
}

#edit-icon:hover
{
    color:#7e58bc;
}

/* Row and hover */
tr:nth-child(even)
{
    background-color:#D9D9D9 ;
}

tr:nth-child(odd)
{
    background-color:#FFFFFF ;
}

.addedQuestions tr:nth-child(even):hover
{
    transition: all 0.5s ease;
    font-size: 16px;
    background: #FFFFFF;
}

.addedQuestions tr:nth-child(odd):hover
{
    transition: all 0.5s ease;
    font-size: 16px;
    background: #D9D9D9;
}

/* Recover Option */
.recover
{
    color: #5319a6;
    display:flex;
    width: 25%;
    cursor: pointer;
}

.recover > .recover-btn
{
    flex: auto;
    background-color: #5319a6;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-left: 75px;
    padding: 10px;
    cursor: pointer;
}

.recover > #recover-icon
{
    flex: auto;
    color:#5319a6;
    margin-left: 10px;
    cursor: pointer;
}

#purple-text
{
    color:#5319a6;
}

/* Footer */
.footer
{
    margin-top: 20%;
}

/* Dashboard Teacher */
.static_data_container
{
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    background-color: #D9D9D9;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    display: flex;
}

.static_data
{
    display: flex;
}

.static_data_container > .static_data
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Dropdown */
.dropbtn
{
    background-color: #0BA7FF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    padding: 0.3rem 1.5rem;
    width: 200px;
}
  
.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    margin-left: 1px;
    width: 100%;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover
{
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}
  
.dropdown:hover .dropbtn
{
    background-color: #0BA7FF;
}

.static_data > .static_data_item
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

.static_data_item
{
    width : 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-left: 50px;
}

/* White box */
.white-box
{
    width:300px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    align-items: center;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
    padding: 0.5rem;
}

.white-box-course-name
{
    font-size: 0.8rem;
}

.container-main
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

/* To do list */
.container-main > .todo_container
{
    width: 50%;
    height: 260px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: -20px 50px 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 24%);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 0 2rem;
}

.todo_container > .todo_title
{
    width: 100%;
    margin: 1rem 0 0 0;
    color: #979797;
    font-weight: bold;
}

.scroll
{
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
} 

.todo_container > .todo
{
    /* background-color: #D9D9D9;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    margin:0.5rem 0 0 0;
    font-size: 0.8rem;
    color: #636363; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo > #todo-work
{
    background-color: #D9D9D9;
    padding: 1rem;
    border-radius: 10px;
    width: 550px;
    height: fit-content;
    margin:0.5rem 0 0 0;
    font-size: 0.8rem;
    color: #636363;
}

.todo > #tick
{
    background-color: #D7D7D7;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
}

/* Course name */
#course-name
{
    font-size: 1.2rem;
    color: #0BA7FF;
    /* margin: -30px 25px 0 25px; */
    margin:0;
}

.white-box-div{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    display: flex;
}

.white-box-div p {
    margin:0;
    margin-top: 0.5rem;
}

.container-main > .progress_container
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: -50px 0 0 0px;
}

.progress_container > .progress
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:0rem 0 -1rem 5rem;
}

.progress_container > .progress > .progress_item
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 0 2rem 2rem;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #5319a6;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}

.progress_item_value
{
    font-size: 1.5rem;
    font-weight: 1rem;
}

.new-enrollment-count
{
    background-color: #5319a6;
}

.new-enrollment-count
{
    background-color: #5319a6;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 10px;
    margin: 0 0 0 30px;
    width: 390px;
    color: white;
}

.new-enrollment-count > .new-enrollment-count-upper
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 2.5rem;
    flex-wrap: wrap;
    align-content: center;
}

.new-enrollment-count >.new-enrollment-count-upper >.progress_item_value2
{
    font-size: 2rem;
}

.new-enrollment-count >.new-enrollment-count-upper > .progress_item_title2
{
    font-size: 1rem;
    padding-left: 5rem;
}

.new-enrollment-count > .new-enrollment-count-lower
{
    background-color: white;
    color: #1FA824;
    margin: 0.5rem 0 0 0;
    padding: 0px 0 0 30px;
}

/* Marks distribution */
.subtopic-dashboard
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: bold;
    color: #636363;
}

.marks-distribution-box
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    background-color: #D9D9D9;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.marks-distribution-box > .attempts-pie-chart
{
    flex: auto;
    /* width: 50px; */
    height: 300px;
    background-color: #FFFFFF;
    margin: 0 0 1rem 8rem;
    padding: 0 0 0 0;
    border-radius: 10px;
}

.marks-distribution-box > .attempts-statistics
{
    flex: auto;
    width: 100px;
    height: 300px;
    background-color: #FFFFFF;
    margin: 0 8rem 1rem 3rem;
    border-radius: 10px;
    padding: 0 0 0 0;
} 

/* Students details */
.students-details-table
{
    width: 90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    font-weight: bold;
    background-color: #D9D9D9;
    border-radius: 10px;
}

/* Questions adding */

/*Course Details*/
.course-details-box
{
    height: 150px;
    background-color: #5319a6;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
}

.course-details-box p
{
    text-align: center;
    color:white;
}

#title
{
    font-weight: bold;
    padding-top: 100px;
}

#content
{
    margin-left: 100px;
    margin-right:100px;
    font-size: small;
}

/*Sub topic*/
.subtopic-title
{
    text-align: center;
    color: #636363;
}

/*Add Questions*/
.input-option
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    bottom: 5px;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #D9D9D9;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

.input-option:hover
{
    background: #6D6D6D;
}

.input-option:checked
{
    background: #299617;
}

.input-option:checked::before
{
    width: 40px;
    height: 40px;
    display:flex;
    content: '\f00c';
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'Font Awesome 5 Free';
}

.input-option:checked::after
{
    background: #299617;
    content: '';
}

/* Question details */
  
.question-number
{
    color: white;
    width: 50px;
    height: 20px;
    padding: 20px;
    margin-top: 3rem;
    margin-left: 100px;
    background-color: #5319a6;
    position:relative;
}

.question-add
{
    width: 75%;
    height: 100px;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    resize: none;
    margin-left: 200px;
    margin-top: -20rem;
    margin-bottom: 10px;
}

.option
{
    width: 75%;
    height: 22px;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    background-color: #D9D9D9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    resize: none;
    margin-left: 200px;
    margin-top: 5px;
}

::placeholder
{
    color: #818181;
}

.question p
{
    margin-left: 200px;
}

.btn-question
{
    background-color: #5319a6;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px;
    margin-left: 200px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
}

.btn-question:hover
{
    background-color: #6D6D6D;
    color: #5319a6;
}

#question
{
    margin-left: 850px;
}

.icon-add
{
    margin: 0 250px 0 250px;
} 

.instruction
{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    font-style: italic !important;
    font-size: 12px;
    font-weight: 1000;
    color: #818181;
}
/* Edit Course Content - TEMP */

/* Body */
#grey-bg
{
    background: #D9D9D9;
}

  /*Course Details*/
.course-details-box
{
    text-align: center;
    background: linear-gradient(45deg,#7e58bc 5%, #5318a6);
    margin-top: 3.8rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    color: white;
    padding-bottom: 10px;
}

.course-details-box p
{
    text-align: center;
    color:white;
}

#title
{
    font-weight: bold;
    padding-top: 80px;
}

#content
{
    margin-left: 100px;
    margin-right:100px;
    font-size: 1rem;
}

/*Subtopic*/
.subtopic
{
    display: grid;
    grid-template-columns: 10% 75% 5% 5% 5%;
    border-radius: 15px;
    width: 1250px;
    height: 55px;
    background-color: #FFFFFF;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 
}

.subtopic-new
{
    display: grid;
    grid-template-columns: 13% 87%;
    border-radius: 15px;
    width: 1250px;
    height: 55px;
    background-color: #FFFFFF;
    opacity: 0.75;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 

}

.subtopic-new-topic
{
    text-align: center;
    color: #6D6D6D;
}

.subtopic-done
{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-left: 25px;
    border: 4px solid rgb(108, 108, 108);
    margin-top: 10px;
    padding: 10px;
}

.subtopic-done > .subtopic-title
{
    margin-left: 8px;
}

.lesson #edit-icon,.subtopic #edit-icon
{
    padding-top: 2px;
    color: #0BA7FF;
    cursor: pointer;
}

#dropdown-icon
{
    padding-top: 8px;
    cursor: pointer;
}

.subtopic p
{
    color:#6D6D6D;
}

/*Lesson*/
.lesson
{
    display: grid;
    grid-template-columns: 87% 13%;
    width: 1100px;
    height: 75px;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
}

.lesson p
{
    margin-left: 30px;
    padding-top: 10px;
}

/*New Lesson*/
.lesson-new
{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 1100px;
    height: 75px;
    background-color: #FFFFFF;
    opacity: 0.75;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
}

.lesson-new p
{
    text-align: center;
    padding-top: 10px;
}

.lesson-new-topic
{
    color: #6D6D6D;
}

#plus-icon
{
    padding-top: 10px;
    cursor: pointer;
    padding-left: 100px;
}

/*Add questions button*/
.btn-questions
{
    padding : 10px 45px;
    font-family: 'Poppins', sans-serif;
    border :none;
    color: #FFFFFF;
    background-color: #636363;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.add-questions
{
    margin-left: 35%;
}

.view-questions
{
    margin-left: 15px;
}

.btn-questions:hover
{
    transform: scale(1.1); 
}

/* Card styling */
.static_data_item_value
{
    font-size: 1.5rem;
    font-weight: bold;
    color: #5319a6;
}

.static_data_item_title
{
    font-size: 0.8rem;
    font-weight: bold;
    color: #979797;
}

/* Student view - teachers */
/*--------Search Bar-----*/
.search-bar-course
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40rem;
}

.search-bar-course > .searchBar
{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 310px;
    margin: 0 0 0 1rem;
}

.dropdown-courses
{
    display: flex;
    padding: 0.5rem 0.75rem;
    margin: 0 10px 0 10px;
    background-color: #FFFFFF;
    color: #5319a6;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    outline: none;
}

.container{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 7.8%;
}

.container .container-item .searchBar input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 13px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 0;
    outline: none;
}

.container .container-item form button{
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

h4{
    color: rgb(54, 53, 53);
}

/*--------------Table---------------------*/

.tableStudent{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 8px 0px rgba(90, 90, 90, 0.2);
    
}

.tableStudent td{
    border: 1px solid #ebe9e9;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 2px;
    background: #cacaca;
    font-size: 13px;
}

.tableStudent th{
    border: 1px solid #8a8989;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #5c26a9;
    color: white;
    font-weight: 450;
    font-size: 13px;
}  

.tableStudent td:nth-child(1)
{
    width: 90px;
    height: 30px;
}

.tableStudent td:nth-child(2)
{
    width: 250px;
}

.tableStudent td:nth-child(3)
{
    width: 110px;
}

.tableStudent td:nth-child(4)
{
    width: 150px;
}

.tableStudent td:nth-child(5)
{
    width: 200px;
}

.tableStudent td:nth-child(6)
{
    width: 500px;
}

.statusButton{
    border-radius: 5px;
    border: 2px solid #078f66;
}

#icons
{
    color:#5319a6;
    margin-left: 8px;
    cursor: pointer;
}

#status 
{
    color:#5319a6;
    margin-left: 8px;
    cursor: pointer;
}

/* no results found */

.no-results-found
{
    width : 1100px;
    height: 550px;
    margin-top: 20px;
    color: #5319a6;
    background-image: url(../images/not-found.png);
    background-repeat: no-repeat;
    padding-right: 50px;
    margin-left: 500px;
}

/* Pagination button */
.pagination
{
    width: 25px;
    height: 25px;
    margin: 2px;
    background-color: #6D6D6D;
    border-radius: 5px;
    border: none;
    
    cursor: pointer;
    margin-bottom: 20px;
    
}

.pagination:hover
{
    width: 27px;
    height: 27px;
    
}

.pagination-text
{
    color: white;
    text-decoration: none;
}

.pagination-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

/* Todo list */
.main-section {
    background: transparent;
    max-width: 500px;
    width: 90%;
    height: 500px;
    margin: 30px auto;
    border-radius: 10px;
  }
  
  .add-section {
    width: 100%;
    background: #fff;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .add-section input {
    display: block;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    border: 2px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
  }
  
  .add-section button {
    display: block;
    width: 95%;
    height: 40px;
    margin: 0px auto;
    border: none;
    outline: none;
    background: #0088FF;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-section button:hover {
    box-shadow: 0 2px 2px 0 #ccc, 0 2px 3px 0 #ccc;
    opacity: 0.7;
  }
  
  .add-section button span {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  
  #errorMes {
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139, 19, 19);
    padding: 10px;
    height: 35px;
  }
  
  .show-todo-section {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .todo-item {
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
    border-radius: 5px;
  }
  
  .todo-item h2 {
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
    font-family: sans-serif;
    color: #555;
  }
  
  .todo-item small {
    display: block;
    width: 100%;
    padding: 5px 0px;
    color: #888;
    padding-left: 30px;
    font-size: 14px;
    font-family: sans-serif;
  }
  
  .remove-to-do {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    color: rgb(139, 97, 93);
    text-decoration: none;
    text-align: right;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
  }
  
  .remove-to-do:hover {
    background: rgb(139, 97, 93);
    color: #fff;
  }
  
  .checked {
    color: #999 !important;
    text-decoration: line-through;
  }
  
  .todo-item input {
    margin: 0px 5px;
  }
  
  .empty {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #cccc;
  }
.error-msg{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background: rgb(224, 0, 0);
    width: 50%;
    margin: 215px auto;
    padding: 50px;
    text-align: center;
    left:0;
    right: 0;
    border: 5px dashed white;
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;

}

.error{
    font-size: 1rem;
    color: rgb(224, 0, 0);
  }
  
  
  .fa-circle-exclamation{
    margin-right: 5px;
  }

  .fa-rectangle-xmark{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -35px;
    cursor: pointer;
  }

.error-msg-container{
    width: 100%;
    height: 141%;
    /* backdrop-filter: url(filters.svg#filter) blur(5px) grayscale(50%); */
    position: absolute;
    z-index: 100;
    overflow-y: hidden;
}

.stopscroll{
    overflow: hidden;
    background: #D9D9D9;
}

.add-view-questions
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.add-view-questions button
{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #0088FF;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 10px;
}

.btn-questions:hover
{
    background-color: #848484;
}